<!-- This file demonstrates online visual odometry. The graph optimization backend 
     is only used to combine the motione estimates to several predecessor frames 

     The visual odometry will be sent as the frame "/vodom" on the "/tf" topic.
     
     To get the cloud, you can subscribe to the online_cloud_out_topic (subsampled
     according to cloud_creation_skip_step or to the original point cloud from the 
     openni driver. 
 -->
<launch>
	<param name="/use_sime_time" value="true"/>



<!--<node pkg="tf" type="static_transform_publisher" name="base_frame_2_map" args="0 0 0 0 0 0 1 /map /base_frame" />-->
<!--<node pkg="tf" type="static_transform_publisher" name="rgb_optical_2_map" args="0 0 0 0 1.57 1.57 /map /camera_rgb_optical_frame 100" />-->


<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.0420117" />
		
	<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
	<param name="frame_id" type="string" value="/map" />
	<param name="filter_ground" value="false" /><!-- who knows where the floor is? -->
    <param name="base_frame_id" value="/camera_rgb_optical_frame" /> <!--needs to be set, even if not used-->
		
	<!-- data source to integrate (PointCloud2) -->
	
</node>



<node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="true" output="screen"> 

	<remap from="/rgbdslam/batch_clouds" to="/cloud_in" />

	<!-- Input data settings-->
		<param name="config/topic_image_mono"              value="/camera/rgb/image_raw"/> 
		<param name="config/topic_image_depth"             value="/camera/depth/image_raw"/>
		<param name="config/maximum_depth"         		value="7.0"/>
		<param name="config/minimum_depth"         		value="0.5"/>
		<param name="config/cloud_creation_skip_step"      value="16"/>
		
		<!-- Preload bagfile -->
		<!-- <param name="config/bagfile_name"      value="/home/michiel/bagfiles/real/v_building/v315/bag2/2017-04-28-13-41-23"/>-->

	<!-- Output data settings-->
		<param name="config/send_clouds_rate"         	value="15"/>
	
	<!-- OctoMap data settings-->

	<!-- TF information settings-->
		<!--<param name="config/fixed_frame_name"        value="/map"/>-->
		<param name="config/base_frame_name"        value="/camera_rgb_optical_frame"/>
		<!--<param name="config/fixed_camera"        value="false"/>-->

	<!-- Visual Features-->
		<param name="config/feature_extractor_type"        value="SIFTGPU"/>
		<param name="config/feature_detector_type"         value="SIFTGPU"/>
		<param name="config/matcher_type"         	value="FLANN"/>

		<param name="config/max_keypoints"                 value="1000"/>

		<param name="config/use_feature_mask"                   value="true"/>

	<!-- Frontend settings -->
		<param name="config/use_icp"         	value="true"/>
		<param name="config/icp_method"         value="gicp"/>
		<param name="config/g2o_transformation_refinement"         value="1"/>

	<!-- Backend settings-->

	<!-- Robot odometry options-->

	<!-- Visualization Settings -->
		<param name="/config/use_gui" value="true"/>
	<!-- Misc -->

	<!-- Debug-->
</node>
</launch>
